extends layout.pug

block content
    div(class="h-25 d-inline-block w-25 p-3 bg-danger text-white " )
     ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="w-25 h-25 p-3 text-dark" href="/Ausloggen" ) Ausloggen
    div(class="h-25 d-inline-block w-25  p-3 bg-primary text-white " )
     ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="w-25 h-25 p-3 text-dark" href="/Suchen") Suchen
    div(class="h-25 d-inline-block w-25 p-3 bg-success text-white text-white " )
     ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="w-25 h-25 p-3 text-dark" href="/Registrierung") Registrierung
    div(class="h-25 d-inline-block w-25 p-3 bg-info text- text-white text-white " )
     ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="w-25 h-25 p-3 text-dark" href="/") Anmeldung  
    h2(class="alert alert-success" role="alert") Sie wurden ausgeloggt.
