doctype html
html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
        script(src="/scripts/jquery.min.js")
        script(src="/scripts/bootstrap_min.js")
    body
        div(class="container")

          block content
